* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* ================================================================= */
/* sm */
/* ================================================================= */
@media (min-width: 640px) {
  /* @media (640px <= width <= 768px) { */
  .container {
    /* max-width: 640px; */
    /* background-color: rgb(76, 87, 76); */
    background-color: #fefefe;
    padding-left: 0px;
    padding-right: 0px;
    /* margin: 0; */
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* navbar  section*/
  /* //////////////////////////////////////////////////////////////////////// */
  nav {
    background-color: #fefefe;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    /* box-shadow: 0px 3px 12px #474646; */
    box-shadow: 0px 0px 10px 2px #474646;
  }
  /* navbar logo section */
  .nav-icon {
    display: flex;
    align-items: center;
  }
  .nav-icon__title {
    padding-left: 0.4rem;
    color: #1c1c1c;
  }

  nav .menu-icon {
    font-size: 2.5rem;
  }
  .nav-list {
    position: absolute;
    /* top: 42px; */
    /* top: 50px; */
    top: 8%;
    /* right: 42%; */
    right: 0;
    background-color: #fefefe;
    /* width: 96%; */
    width: 100%;
    cursor: pointer;
  }
  li {
    list-style: none;
    margin: 3% 0;
    padding-left: 13px;
    color: #a9a9a9;
  }
  li:nth-child(2),
  li:nth-child(3) {
    display: flex;
    align-items: center;
  }
  li:nth-child(5) {
    /* color: #325d8a; */
    font-weight: 700;
    letter-spacing: 4px;
  }
  li button {
    width: 80px;
    height: 30px;
    background: #2663fa;
    color: white;
    border-radius: 11px;
    border: none;
  }

  li:hover {
    color: blue;
  }
  .no-menu-list {
    display: none;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* hero section */
  /* //////////////////////////////////////////////////////////////////////// */

  .hero-section {
    /* margin-top: 10%; */
    margin-top: 15%;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    background-color: #fefefe;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .hero-section__header {
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.3rem;
  }
  .hero-section__header-color {
    color: #2960f5;
    font-weight: 900;
  }
  .hero-section__header-paragraph {
    margin: 6% 0;
    padding: 0 14%;
    /* margin: 10% 0; */
    /* margin: 14% 0 12%; */
    /* font-size: 1.2rem; */
    font-size: 1.1rem;
    color: #686666;
    text-align: unset;
  }
  .hero-section__header-reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
  }

  .hero-section__header-reviews button {
    width: 165px;
    height: 48px;
    background: #2961fc;
    color: white;
    border: none;
    border-radius: 15px;
    margin-right: 15px;
  }

  .hero-section__header-reviews-image p {
    font-size: 0.6rem;
  }

  /* hero image */
  .hero-image {
    all: unset;
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: contain; */
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* trusted section */
  /* //////////////////////////////////////////////////////////////////////// */
  .trusted-companies {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    background-color: #fefefe;
    /* margin: 5% 0; */
  }

  .trusted-companies__header {
    padding: 5% 0;
    font-weight: 800;
  }
  .trusted-companires__images img {
    /* width: 100%;
    height: 100%;
    object-fit: scale-down; */
    margin: 10px;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* choose us section */
  /* //////////////////////////////////////////////////////////////////////// */
  .choose-us {
    background-color: #ffffff;
    text-align: center;
    margin-top: 10%;
    padding-bottom: 10%;
  }
  /* ==> This is class is new <== */
  .choose-us__container {
    background-color: #eef1fa;
    border-radius: 16px;
    margin: 0 10%;
    padding-bottom: 2%;
  }
  .choose-us__header {
    padding: 7% 0;
  }

  .choose-us__header h2 {
    padding: 0 4%;
  }
  .choose-us__header p {
    font-size: 0.8rem;
    padding: 0 11%;
    margin-top: 4%;
    color: #c9c9c9;
  }
  /* cards */

  /* card 1 */
  .choose-us__card-1,
  .choose-us__card-2,
  .choose-us__card-3 {
    background-color: #fefefe;
    padding: 10%;
    text-align: left;
    margin: 4%;
    border-radius: 15px;
  }
  /* icon */
  .choose-us__card-1-chart-bar-icon,
  .choose-us__card-2-search-icon,
  .choose-us__card-3-location-icon {
    border-radius: 15px;
    background-color: #f3f6fe;
    padding: 7%;
    display: inline;
  }
  /* header */
  .choose-us__card-text {
    margin-top: 13%;
  }

  .choose-us__card-text p {
    margin-top: 9%;
    font-size: 0.69rem;
    color: #c9c9c9;
    line-height: 1.66;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* Grow business SEO section */
  /* //////////////////////////////////////////////////////////////////////// */

  .grow-business {
    background: #fefefe;
    text-align: center;
  }

  /* header section */
  .grow-business-seo__header {
    /* padding: 10% 4% 0; */
    font-size: 2rem;
  }

  .grow-business-seo__paragraph {
    font-size: 1.2rem;
    padding: 0 12%;
    margin: 5% 0 7%;
    /* margin-top: 6%; */
    color: #c9c9c9;
  }
  .grow-business-service {
    text-align: left;
  }

  /* card 1 */
  .grow-business-service__card-1 {
    padding: 6%;
    margin: 10px;
    background: #2961fc;
    color: white;
    border-radius: 15px;
  }

  .grow-business-service__card-1-title {
    display: flex;
    justify-content: space-between;
  }
  .grow-business-service__card-1 p {
    font-size: 0.77rem;
    margin-top: 10%;
  }

  .grow-business-service__card-1:hover {
    background: #2253d8;
  }

  /* card 2  and card 3*/
  .grow-business-service__card-2,
  .grow-business-service__card-3 {
    padding: 6%;
  }
  .grow-business-service__card-2 p,
  .grow-business-service__card-3 p {
    font-size: 0.77rem;
    margin-top: 7%;
    /*  for make hover affect to work switch this off, for search the reason why this not working */
    /* color: #6b6b6b;  */
  }
  /* bug: paragraph not working on hover */
  .grow-business-service__card-2:hover,
  .grow-business-service__card-3:hover {
    padding: 6%;
    margin: 10px;
    background: #2961fc;
    color: white;
    border-radius: 15px;
  }

  .grow-business-service__card-2::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #8d878736;
    margin-top: 17px;
  }

  /* card 3 */
  /* .grow-business-service__card-3 { */

  /* } */

  /*  grow business image*/
  .grow-business-service__image {
    display: flex;
    justify-content: center;
    /* margin-bottom: 15%; */
    /* display: none; */
  }

  .grow-business-service__image img {
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: contain; */
    all: unset;
  }
  /* ==> This is new <== */
  .grow-business-service__card-container {
    width: 66%;
    margin: 12% auto 0;
    /* margin: 15% auto 0; */
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* Achievement goal section */
  /* //////////////////////////////////////////////////////////////////////// */

  .achievement-goals {
    background: #fefefe;
    padding: 8% 0;
    text-align: center;
  }
  /* .achievement-goals__cards img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  } */

  .achievement-goals__header {
    padding: 4% 0;
    /* text-align: center; */
  }

  .achievement-goals__header h2 {
    font-size: 2rem;
    width: 96%;
    margin: 0 auto;
  }

  .achievement-goals__cards-card-1,
  .achievement-goals__cards-card-2,
  .achievement-goals__cards-card-3 {
    margin: 8% 0;
  }

  /* .achievement-goals__cards-card-1:hover,
  .achievement-goals__cards-card-2:hover,
  .achievement-goals__cards-card-3:hover {
    background: #71717161;
    padding: 4% 0;
    border-radius: 11px;
  } */

  .achievement-goals__cards-card-1-text,
  .achievement-goals__cards-card-2-text,
  .achievement-goals__cards-card-3-text {
    text-align: left;
    padding: 0 11%;
    /* padding: 0px 31%; */
  }
  .achievement-goals__cards-card-1-text h3,
  .achievement-goals__cards-card-2-text h3,
  .achievement-goals__cards-card-3-text h3 {
    padding: 7% 0;
  }

  .achievement-goals__cards-card-1-text p,
  .achievement-goals__cards-card-2-text p,
  .achievement-goals__cards-card-3-text p {
    font-size: 0.88rem;
  }
  /* => This is new */
  .achievement-goals__cards-container {
    width: 50%;
    margin: 0 auto;
    border-radius: 16px;
    padding: 4% 0;
  }

  .achievement-goals__cards-container:hover {
    background: #e7eddd;
  }

  /* /////////////////
  /* accessible country section */
  /* //////////////////////////////////////////////////////////////////////// */
  .accessible-country {
    background-color: #eaeefa;
    padding: 10% 4%;
    text-align: center;
  }

  .accessible-country__text h2 {
    font-size: 2rem;
  }
  .accessible-country__text p {
    font-size: 1rem;
    padding: 0 11%;
    margin-top: 5%;
    color: #2d2d2d;
  }

  .accessible-country__text button {
    border-radius: 15px;
    border: none;
    padding: 4% 11%;
    background: #2862fb;
    color: white;
    margin: 7% 0;
  }

  .accessible-country__text button:hover {
    background: #183a97;
  }
  /* image */
  .accessible-country img {
    /* original  */
    /* width: 100%;
    height: 100%;
    object-fit: contain; */
    /* this is new */
    /* filter: grayscale(100%);
    width: 100%;
    height: 100%;
    object-fit: contain; */
    all: unset;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* faqs section */
  /* //////////////////////////////////////////////////////////////////////// */
  .faq {
    background: #fefefe;
    padding: 8% 5% 8%;
  }
  .faq-section__title {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
    font-size: 1.2rem;
    /* this is for testing */
    /* border: 2px red solid; */
  }

  .faq h2 {
    text-align: center;
    margin-bottom: 12%;
    font-size: 2rem;
  }
  .faq-section__paragraph {
    font-size: 0.93rem;
  }
  .faq-section__no-paragraph {
    display: none;
  }
  /* icons */
  .faq-section__icon .minus-icon {
    display: none;
  }

  .faq-section__icon .add-no-icon {
    display: none;
  }
  /* horizontal line */
  .faq-section__horizontal-line {
    border: 1px #bbbbbb solid;
    margin: 5% 0;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* contact us section */
  /* //////////////////////////////////////////////////////////////////////// */
  .contact-us-section {
    /* background: antiquewhite; */
    padding: 10% 0;
    /* background-image: linear-gradient(
      195deg,
      #5985fc -83% -35%,
      #2861fd 92% 92%
      ); */
    background: #fefefe;

    /* testing */
    /* background-image: linear-gradient(
      182deg,
      #5985fc -17% -17%,
      #2861fd 92% 92%
    ); */
    /* background-image: 
    conic-gradient(
      from 126deg at 52% 101%, 
      #00f5ff 0%, 26%, #00bfff 0% 0%, 46%, #005dff 0% 0%, 60%, #a400ff 0% 0%, 82%, #f300ff 0% 0%
    ) */
  }
  /*==> This is new <==  */
  .contact-us-section__container {
    width: 90%;
    margin: 0 auto;

    background-image: linear-gradient(
      195deg,
      #5985fc -83% -35%,
      #2861fd 92% 92%
    );
    padding: 7% 0;
    border-radius: 11px;
  }

  .contact-us-section__title h2 {
    text-align: center;
    color: white;
    padding: 0 9%;
  }

  .contact-us-section__button {
    text-align: center;
    margin-top: 7%;
  }
  .contact-us-section__button button {
    padding: 14px 44px;
    border: none;
    border-radius: 11px;
    color: white;
    background: #1b1b1b;
  }

  .contact-us-section__button button:hover {
    background: black;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* footer section */
  /* //////////////////////////////////////////////////////////////////////// */

  footer {
    /* background-color: #fefefe; */
    padding: 10% 4% 0;
    background-color: #f3f3f3;
  }

  .footer-header__icon {
    display: flex;
  }
  .footer-header p {
    margin-top: 4%;
    font-size: 0.9rem;
    color: #a9a9a9;
  }
  /* footer service,resource, company and information */
  /* => This is new */
  .footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer-service {
    margin-top: 5%;
  }
  .footer-service__list {
    margin-top: 4%;
  }

  .footer-service__list li {
    padding: 2% 0;
    font-size: 0.88rem;
  }

  .no-bold {
    font-weight: 100 !important;
  }
  /* icons */
  .footer-social-media-icons {
    display: flex;
    justify-content: center;
    margin: 7% 0 2%;
  }

  .footer-social-media-icons > * {
    border-radius: 50%;
    padding: 10px;
    background: #d7d6d6ad;
    margin-right: 30px;
  }

  .footer-social-media-icons > *:hover {
    background-color: black;
    /* color: blue; */
  }
  /* footer horizontal line  */
  .footer-horizontal-line {
    /* width: 90%; */
    width: 100%;

    margin: 4% auto 0;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* copyright section */
  /* //////////////////////////////////////////////////////////////////////// */

  .copyright {
    /* background-color: #fefefe; */
    background-color: #f3f3f3;
    /* padding: 3% 0 8%; */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 4%;
    font-size: 0.79rem;
    padding-bottom: 4%;
    color: #a9a9a9;
  }
  .copyright-terms {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 6%; */
    padding: 0 3%;
  }

  .copyright-terms a {
    text-decoration: none;
    color: #474747;
  }

  .copyright-terms a:hover {
    color: #2961fc;
  }
  .copyright-text p {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 6%;
  }
}

/* ================================================================= */
/* xs */
/* ================================================================= */

/* @media (width <= 475px) { */

@media (320px <= width <= 640px) {
  /* @media (min-width: 475px) { */
  .container {
    /* max-width: 475px; */
    background-color: #fefefe;
    padding: 0;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* navbar  section*/
  /* //////////////////////////////////////////////////////////////////////// */
  nav {
    background-color: #fefefe;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    /* box-shadow: 0px 3px 12px #474646; */
    box-shadow: 0px 0px 10px 2px #474646;
  }
  /* navbar logo section */
  .nav-icon {
    display: flex;
    align-items: center;
  }
  .nav-icon__title {
    padding-left: 0.4rem;
    color: #1c1c1c;
  }

  nav .menu-icon {
    font-size: 2.5rem;
  }
  .nav-list {
    position: absolute;
    /* top: 42px; */
    /* top: 50px; */
    top: 8%;
    /* right: 42%; */
    right: 0;
    background-color: #fefefe;
    /* width: 96%; */
    width: 100%;
    cursor: pointer;
  }
  li {
    list-style: none;
    margin: 3% 0;
    padding-left: 13px;
    color: #a9a9a9;
  }
  li:nth-child(2),
  li:nth-child(3) {
    display: flex;
    align-items: center;
  }
  li:nth-child(5) {
    /* color: #325d8a; */
    font-weight: 700;
    letter-spacing: 4px;
  }
  li button {
    width: 80px;
    height: 30px;
    background: #2663fa;
    color: white;
    border-radius: 11px;
    border: none;
  }

  li:hover {
    color: blue;
  }
  .no-menu-list {
    display: none;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* hero section */
  /* //////////////////////////////////////////////////////////////////////// */

  .hero-section {
    /* margin-top: 10%; */
    margin-top: 15%;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    background-color: #fefefe;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .hero-section__header {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.3rem;
  }
  .hero-section__header-color {
    color: #2960f5;
    font-weight: 600;
  }
  .hero-section__header-paragraph {
    /* margin: 10% 0; */
    margin: 14% 0 12%;
    /* font-size: 1.2rem; */
    font-size: 1.1rem;
    color: #686666;
    text-align: unset;
  }
  .hero-section__header-reviews {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
  }

  .hero-section__header-reviews button {
    width: 165px;
    height: 48px;
    background: #2961fc;
    color: white;
    border: none;
    border-radius: 15px;
  }

  .hero-section__header-reviews-image p {
    font-size: 0.6rem;
  }

  /* hero image */
  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* trusted section */
  /* //////////////////////////////////////////////////////////////////////// */
  .trusted-companies {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    background-color: #fefefe;
    /* margin: 5% 0; */
  }

  .trusted-companies__header {
    padding: 5% 0;
  }
  .trusted-companires__images img {
    /* width: 100%;
    height: 100%;
    object-fit: scale-down; */
    margin: 10px;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* choose us section */
  /* //////////////////////////////////////////////////////////////////////// */
  .choose-us {
    background-color: #eff2fb;
    text-align: center;
    margin-top: 10%;
    padding-bottom: 10%;
  }

  .choose-us__header {
    padding: 7% 0;
  }

  .choose-us__header h2 {
    padding: 0 4%;
  }
  .choose-us__header p {
    font-size: 0.8rem;
    padding: 0 11%;
    margin-top: 4%;
    color: #c9c9c9;
  }
  /* cards */

  /* card 1 */
  .choose-us__card-1,
  .choose-us__card-2,
  .choose-us__card-3 {
    background-color: #fefefe;
    padding: 10%;
    text-align: left;
    margin: 4%;
    border-radius: 15px;
  }
  /* icon */
  .choose-us__card-1-chart-bar-icon,
  .choose-us__card-2-search-icon,
  .choose-us__card-3-location-icon {
    border-radius: 15px;
    background-color: #f3f6fe;
    padding: 7%;
    display: inline;
  }
  /* header */
  .choose-us__card-text {
    margin-top: 13%;
  }

  .choose-us__card-text p {
    margin-top: 9%;
    font-size: 0.69rem;
    color: #c9c9c9;
    line-height: 1.66;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* Grow business SEO section */
  /* //////////////////////////////////////////////////////////////////////// */

  .grow-business {
    background: #fefefe;
    text-align: center;
  }

  /* header section */
  .grow-business-seo__header {
    padding: 10% 4% 0;
  }

  .grow-business-seo__paragraph {
    font-size: 0.99rem;
    padding: 0 11%;
    margin-top: 7%;
    color: #c9c9c9;
  }
  .grow-business-service {
    text-align: left;
  }

  /* card 1 */
  .grow-business-service__card-1 {
    padding: 6%;
    margin: 10px;
    background: #2961fc;
    color: white;
    border-radius: 15px;
  }

  .grow-business-service__card-1-title {
    display: flex;
    justify-content: space-between;
  }
  .grow-business-service__card-1 p {
    font-size: 0.77rem;
    margin-top: 10%;
  }

  .grow-business-service__card-1:hover {
    background: #2253d8;
  }

  /* card 2  and card 3*/
  .grow-business-service__card-2,
  .grow-business-service__card-3 {
    padding: 6%;
  }
  .grow-business-service__card-2 p,
  .grow-business-service__card-3 p {
    font-size: 0.77rem;
    margin-top: 7%;
    /*  for make hover affect to work switch this off, for search the reason why this not working */
    /* color: #6b6b6b;  */
  }
  /* bug: paragraph not working on hover */
  .grow-business-service__card-2:hover,
  .grow-business-service__card-3:hover {
    padding: 6%;
    margin: 10px;
    background: #2961fc;
    color: white;
    border-radius: 15px;
  }

  .grow-business-service__card-2::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #8d878736;
    margin-top: 17px;
  }

  /* card 3 */
  /* .grow-business-service__card-3 { */

  /* } */

  /*  grow business image*/
  .grow-business-service__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* Achievement goal section */
  /* //////////////////////////////////////////////////////////////////////// */

  .achievement-goals {
    background: #fefefe;
    padding: 8% 0;
    text-align: center;
  }
  /* .achievement-goals__cards img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  } */

  .achievement-goals__header {
    padding: 4% 0;
    /* text-align: center; */
  }

  .achievement-goals__cards-card-1,
  .achievement-goals__cards-card-2,
  .achievement-goals__cards-card-3 {
    margin: 8% 0;
  }

  .achievement-goals__cards-card-1:hover,
  .achievement-goals__cards-card-2:hover,
  .achievement-goals__cards-card-3:hover {
    background: #71717161;
    padding: 4% 0;
    border-radius: 11px;
  }

  .achievement-goals__cards-card-1-text,
  .achievement-goals__cards-card-2-text,
  .achievement-goals__cards-card-3-text {
    text-align: left;
    padding: 0 19%;
    /* padding: 0 17%; */
  }
  .achievement-goals__cards-card-1-text h3,
  .achievement-goals__cards-card-2-text h3,
  .achievement-goals__cards-card-3-text h3 {
    padding: 7% 0;
  }

  .achievement-goals__cards-card-1-text p,
  .achievement-goals__cards-card-2-text p,
  .achievement-goals__cards-card-3-text p {
    font-size: 0.88rem;
  }
  /* => This is new */
  .achievement-goals__cards-container {
    all: unset;
  }

  .achievement-goals__cards-container:hover {
    all: unset;
  }
  /* /////////////////
  /* accessible country section */
  /* //////////////////////////////////////////////////////////////////////// */
  .accessible-country {
    background-color: #eaeefa;
    padding: 10% 4% 0;
    text-align: center;
  }

  .accessible-country__text p {
    font-size: 0.78rem;
    padding: 0 11%;
    margin-top: 5%;
    color: #2d2d2d;
  }

  .accessible-country__text button {
    border-radius: 15px;
    border: none;
    padding: 4% 11%;
    background: #2862fb;
    color: white;
    margin: 7% 0;
  }

  .accessible-country__text button:hover {
    background: #183a97;
  }
  /* image */
  .accessible-country img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* faqs section */
  /* //////////////////////////////////////////////////////////////////////// */
  .faq {
    background: #fefefe;
    padding: 15% 5% 8%;
  }
  .faq-section__title {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
    /* this is for testing */
    /* border: 2px red solid; */
  }

  .faq h2 {
    text-align: center;
    margin-bottom: 17%;
    font-size: 2rem;
  }
  .faq-section__paragraph {
    font-size: 0.899rem;
  }
  .faq-section__no-paragraph {
    display: none;
  }
  /* icons */
  .faq-section__icon .minus-icon {
    display: none;
  }

  .faq-section__icon .add-no-icon {
    display: none;
  }
  /* horizontal line */
  .faq-section__horizontal-line {
    border: 1px #bbbbbb solid;
    margin: 8% 0;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* contact us section */
  /* //////////////////////////////////////////////////////////////////////// */
  .contact-us-section {
    /* background: antiquewhite; */
    padding: 10% 0;
    background-image: linear-gradient(
      195deg,
      #5985fc -83% -35%,
      #2861fd 92% 92%
    );

    /* testing */
    /* background-image: linear-gradient(
      182deg,
      #5985fc -17% -17%,
      #2861fd 92% 92%
    ); */
    /* background-image: 
    conic-gradient(
      from 126deg at 52% 101%, 
      #00f5ff 0%, 26%, #00bfff 0% 0%, 46%, #005dff 0% 0%, 60%, #a400ff 0% 0%, 82%, #f300ff 0% 0%
    ) */
  }
  .contact-us-section__title h2 {
    text-align: center;
    font-weight: 900;
    color: white;
    padding: 0 9%;
  }

  .contact-us-section__button {
    text-align: center;
    margin-top: 10%;
  }
  .contact-us-section__button button {
    padding: 12px 28px;
    border: none;
    border-radius: 11px;
    color: white;
    background: #1b1b1b;
  }

  .contact-us-section__button button:hover {
    background: black;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* footer section */
  /* //////////////////////////////////////////////////////////////////////// */

  footer {
    background-color: #fefefe;
    padding: 10% 4%;
  }

  .footer-header__icon {
    display: flex;
  }
  .footer-header p {
    margin-top: 4%;
    font-size: 0.9rem;
    color: #a9a9a9;
  }
  /* footer service */
  .footer-service {
    margin-top: 5%;
  }
  .footer-service__list {
    margin-top: 4%;
  }

  .footer-service__list li {
    padding: 2% 0;
    font-size: 0.88rem;
  }

  .no-bold {
    font-weight: 100 !important;
  }
  /* icons */
  .footer-social-media-icons > * {
    border-radius: 50%;
    padding: 10px;
    background: #d7d6d6ad;
    margin-right: 10px;
  }

  .footer-social-media-icons > *:hover {
    background-color: black;
    /* color: blue; */
  }
  /* footer horizontal line  */
  .footer-horizontal-line {
    /* width: 90%; */
    width: 100%;

    margin: 4% auto;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* copyright section */
  /* //////////////////////////////////////////////////////////////////////// */

  .copyright {
    background-color: #fefefe;
    /* padding: 3% 0 8%; */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.79rem;
    padding-bottom: 8%;
    color: #a9a9a9;
  }
  .copyright-terms {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6%;
    padding: 0 3%;
  }

  .copyright-terms a {
    text-decoration: none;
    color: #474747;
  }

  .copyright-terms a:hover {
    color: #2961fc;
  }
  .copyright-text p {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 12%;
  }
}

/* ================================================================= */
/* md */
/* ================================================================= */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    /* background-color: rgb(132, 141, 10); */
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* hero section */
  /* //////////////////////////////////////////////////////////////////////// */
  .hero-section {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 2%;
    margin-top: 0;
  }
  /* title */
  .hero-section__header {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.3rem;
  }

  .hero-section__header-color {
    font-weight: 600;
  }
  /* paragraph */
  .hero-section__header-paragraph {
    /* margin-top: 10%; */
    font-size: 0.76rem;
    padding: 0;
    margin: 8% 0 0;
  }

  /* text align */

  .hero-section__header,
  .hero-section__header-paragraph {
    text-align: left;
  }
  .hero-section__text {
    padding-left: 16px;
  }

  .hero-section__header-reviews {
    justify-content: flex-start;
    margin-top: 14%;
  }

  .hero-section__header-reviews button {
    width: 148px;
    height: 44px;
  }
  /* //////////////////////////////////////////////////////////////////////// */
  /* trusted section */
  /* //////////////////////////////////////////////////////////////////////// */

  .trusted-companies {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  /* text */
  .trusted-companies__header {
    text-align: left;
    font-weight: 600;
    font-size: 1.25rem;
    padding-left: 4%;
  }

  /* image container */
  .trusted-companires__images {
    display: flex;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* choose us section */
  /* //////////////////////////////////////////////////////////////////////// */
  .choose-us__container {
    margin: 0px 6%;
  }
  /* heading container */
  .choose-us__header {
    padding: 7% 10%;
  }

  .choose-us__header h2 {
    letter-spacing: 1px;
    font-size: 2rem;
    padding: 0;
  }
  .choose-us__header p {
    font-size: 0.88rem;
    margin-top: 4%;
    color: #c9c9c9;
    /* width: 92%; */
    margin: 4% auto 0;
  }

  /* cards container*/
  .choose-us__card {
    display: flex;
    flex-wrap: nowrap;
  }
  /* all cards */
  .choose-us__card-1,
  .choose-us__card-2,
  .choose-us__card-3 {
    /* display: flex;
    flex-wrap: nowrap; */
    padding: 4%;
  }
  .choose-us__card-1,
  .choose-us__card-2,
  .choose-us__card-3 {
    padding: 3% 2% 2%;
    text-align: left;
    margin: 2%;
    /* margin: 1.3%; */
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* Grow business SEO section */
  /* //////////////////////////////////////////////////////////////////////// */
  .grow-business {
    padding: 0px 3%;
  }

  .grow-business-seo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 8px;
  }
  /* header text */
  .grow-business-seo__header {
    text-align: left;
    font-size: 2.4rem;
  }
  /* paragraph */
  .grow-business-seo__paragraph {
    text-align: right;
    font-size: 0.77rem;
    color: #c9c9c9;
    padding: 0;
    margin: 0;
  }
  /* ==> This is new <== */
  /* container */
  .grow-business-container {
    display: flex;
  }
  .grow-business-service__card-container {
    margin-top: 4%;
  }

  /* images */
  .grow-business-service__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* Achievement goal section */
  /* //////////////////////////////////////////////////////////////////////// */
  .achievement-goals__header h2 {
    width: 80%;
  }

  .achievement-goals__cards {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    margin: 0 auto;
    padding: 0px 4%;
  }
  .achievement-goals__cards-container {
    width: 100%;
  }
  .achievement-goals__cards-card-1-text p,
  .achievement-goals__cards-card-2-text p,
  .achievement-goals__cards-card-3-text p {
    font-size: 0.68rem;
  }

  .achievement-goals__cards-container img {
    /* width: 80%; */
    height: 29vh;
    object-fit: contain;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* Accessible country section */
  /* //////////////////////////////////////////////////////////////////////// */
  /* container */
  .accessible-country {
    /* display: flex; */
    padding: 5%;
    background-color: #fefefe;
  }
  /* text container */
  .accessible-country__text {
    text-align: left;
  }
  .accessible-country__text p {
    /* padding-right: 1px; */
    padding: 0 1px 0 0;
    font-size: 0.77rem;
  }
  /* ==> This is new <== */
  .accessible-country__container {
    display: flex;
    background: #eaeefa;
    padding: 4%;
    border-radius: 16px;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* faqs section */
  /* //////////////////////////////////////////////////////////////////////// */
  /* question section */
  .faq-section {
    padding: 0 7%;
  }
  .faq-section__horizontal-line-last {
    margin: 5% 0 0;
  }
}

/* ================================================================= */
/* lg */
/* ================================================================= */
@media (min-width: 1024px) {
  .container {
    /* testing */
    /* max-width: 100vw; */
    max-width: 1024px;
    min-width: 1440px;
    /* min-width: 1280px; */
    /* background-color: rgb(165, 42, 165); */
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* navbar  section*/
  /* //////////////////////////////////////////////////////////////////////// */
  .nav-list {
    /* display: none; */
    /* position: none; */
    all: unset;
    display: flex;
    align-items: center;
  }
  /* nav icon */
  .nav-icon {
    margin-right: 25px;
  }

  .nav-menu-icon {
    display: none;
  }
  /* ==> this is new <== */
  .nav-container {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .nav-list li {
    /* margin: 3% 0; */
    /* padding: 0 27px; */
    padding-right: 22px;
  }
  .nav__login-text {
    padding-right: 4%;
    text-decoration: none;
    font-weight: 700;
    display: block;
  }
  nav button {
    background: #2961fc;
    padding: 1% 3%;
    color: white;
    border: none;
    border-radius: 9px;
  }
  .not-avaible {
    display: none;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* hero section */
  /* //////////////////////////////////////////////////////////////////////// */
  .hero-section {
    align-items: flex-end;
    background-image: linear-gradient(1deg, #fefefe 92%, #f1eeee);
    padding-top: 9%;
  }
  /* title section i mean div */
  .hero-section__text {
    padding-left: 0;
  }
  /* big title */
  .hero-section__header {
    font-size: 3.7rem;
    line-height: 1.3;
    /* font-weight: 600; */
    font-weight: 600;
  }
  .hero-section__header-color {
    font-weight: 600;
  }
  /* paragraph */
  .hero-section__header-paragraph {
    font-size: 1.23rem;
    /* font-size: 0.9rem; */
    line-height: 28px;
  }
  /* button */

  .hero-section__header-reviews {
    margin: 10% 0 0;
  }
  .hero-section__header-reviews button {
    height: 56px;
    width: 157px;
    font-size: 1rem;
    margin-right: 26px;
  }

  .hero-section__header-reviews button:hover {
    background-color: #2252d7;
  }
  /* //////////////////////////////////////////////////////////////////////// */
  /* trusted section */
  /* //////////////////////////////////////////////////////////////////////// */
  /* trusted companies container  */
  .trusted-companies {
    margin: 10% 0 0;
    justify-content: flex-start;
  }
  /* text */
  .trusted-companies__header {
    margin-right: auto;
    padding-left: 1%;
    font-size: 1.76rem;
    width: 36%;
  }
  /* images */
  .trusted-companires__images {
    width: 62%;
    align-items: center;
    justify-content: space-between;
  }

  .trusted-companires__images img {
    width: 20%;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* Achievement goal section */
  /* //////////////////////////////////////////////////////////////////////// */
  .achievement-goals__header h2 {
    width: 49%;
  }

  /* cards text */

  .achievement-goals__cards-card-1-text {
    padding: 0 12%;
  }
  .achievement-goals__cards-card-2-text {
    padding: 0 15%;
  }

  .achievement-goals__cards-card-3-text {
    padding: 0 8%;
  }
  /* card title*/
  .achievement-goals__cards-card-1-text h3,
  .achievement-goals__cards-card-2-text h3,
  .achievement-goals__cards-card-3-text h3 {
    font-size: 1.45rem;
  }

  /* card paragraph*/
  .achievement-goals__cards-card-1-text p,
  .achievement-goals__cards-card-2-text p,
  .achievement-goals__cards-card-3-text p {
    font-size: 0.83rem;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* accessible country section */
  /* //////////////////////////////////////////////////////////////////////// */
  .accessible-country__container {
    justify-content: space-between;
    /* ==> this is new <== */
    background-image: linear-gradient(45deg, #eaeefa, #f9f9f9);
  }

  /* text */
  .accessible-country__text h2 {
    font-size: 3rem;
  }

  .accessible-country__text p {
    font-size: 1rem;
  }
  /* button */
  .accessible-country__text button {
    font-size: 1rem;
  }

  /*image  */
  .accessible-country__container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* faqs section */
  /* //////////////////////////////////////////////////////////////////////// */
  /* faq text */
  .faq h2 {
    font-size: 3rem;
    margin-bottom: 8%;
  }

  .faq-section__title h3 {
    font-size: 1.6rem;
    font-weight: 600;
  }
  /* paragraph */
  .faq-section__paragraph p {
    line-height: 1.7;
    font-size: 0.84rem;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* contact us section */
  /* //////////////////////////////////////////////////////////////////////// */
  /* title */
  .contact-us-section__title h2 {
    font-size: 3rem;
    font-weight: 600;
  }
  /* button */
  .contact-us-section__button button {
    font-size: 1rem;
    padding: 19px 59px;
    /* font-weight: 550; */
    letter-spacing: 2px;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* footer section */
  /* //////////////////////////////////////////////////////////////////////// */
  footer {
    /* display: flex; */
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    /* align-items: center; */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* padding-left: 8%; */
    padding: 0 6%;
  }

  /* footer::after {
    content: "";
    width: 10px;
    height: 57%;
    background-color: black;
    position: absolute;
    left: -40px;
    top: 8px;
  } */

  /* service,resource,company and information  container*/
  .footer-container {
    display: flex;
    /* align-items: baseline; */
    flex-wrap: nowrap;
    gap: 2rem;
  }
  /* service */
  .footer-service {
    margin-bottom: 22px;
  }
  /*For title small */
  .footer-service h2,
  .footer-resource h2,
  .footer-company h2,
  .footer-information h2 {
    font-size: 1.3rem;
    color: #2d2d2d;
    margin-bottom: 25%;
  }

  /* list (sorry for bad commenting)*/
  .footer-service__list li {
    /* font-size: 0.8rem; */
    font-size: 0.72rem;
    /* margin-bottom: 12%; */
    margin-bottom: 4px;
  }
  .footer-service__list .no-bold {
    letter-spacing: 0;
  }

  /* icons */
  .footer-social-media-icons {
    display: none;
  }

  /* horintal line */
  .footer-horizontal-line {
    display: none;
  }

  .footer-header__icon p {
    width: 97%;
    font-size: 0.79rem;
    line-height: 24px;
  }

  /* footer header */
  .footer-header {
    margin-right: auto;
  }

  .footer-header p {
    width: 81%;
    font-size: 0.7rem;
  }

  /* This is new */
  /* icons */
  .footer-social-media-icons__large-screen {
    display: flex;
    justify-content: flex-start;
    /* margin: 7% 0 2%; */
    margin: 12% 0;
  }

  .footer-social-media-icons__large-screen > * {
    border-radius: 50%;
    padding: 7px;
    background: #d7d6d6ad;
    margin-right: 30px;

    /* border-radius: 50%;
    padding: 10px; */
  }

  .footer-social-media-icons__large-screen > *:hover {
    background-color: black;
    /* color: blue; */
  }
  /* horizontal line */
  .footer-horizontal-line__large-screen {
    /* width: 224%; */
    width: 92%;
    /* border: 1px #734b4b solid; */
    margin: 0 auto;
  }

  /* //////////////////////////////////////////////////////////////////////// */
  /* copyright section */
  /* //////////////////////////////////////////////////////////////////////// */
  .copyright {
    /* display: flex;
  
    flex-direction: column; */
    /* flex-direction: column; */
    /* align-items: center; */
    display: flex;
    align-items: flex-end;
    /* padding-right: 4%; */
    /* padding: 19% 4% 27%; */
    padding: 2% 4% 4%;
  }
  .copyright-terms {
    margin-right: auto;

    /* display: flex;
    justify-content: space-between;
    padding: 0 3%; */
  }
  /* paragraph */
  .copyright-text p {
    font-size: 0.64rem;
  }
  .copyright-terms a {
    margin-right: 33px;
  }
  .copyright-terms {
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
  }
}

/* ================================================================= */
/* xl */
/* ================================================================= */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    background-color: rgb(21, 124, 116);
  }
}

/* ================================================================= */
/* 2xl */
/* ================================================================= */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    background-color: rgb(26, 28, 34);
  }
}
